    # exclude everything except directory foo/bar
    #/*
   # !/foo
  #  /foo/*
  #  !/foo/bar
#dirs to save

!CARPOOL_V1/Content/test
#dirs to ignore
!CARPOOL_V1/Content
CARPOOL_V1/Content/*
!CARPOOL_V1/Content/Blueprints

CARPOOL_V1/Intermediate
CARPOOL_V1/Binaries
CARPOOL_V1/Saved
CARPOOL_V1/Build
CARPOOL_V1/Debug
CARPOOL_V1/Plugins
CARPOOL_V1/Release

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opendb
